/*top section*/
.top_section {
  background: url('../images/about/about.jpg') no-repeat;
  background-size: 100% 100%;
  padding: 11.6rem 0;
  }
.top_section h2.display-4 {
      color: #fff;
  }
/*classes*/
.class_wrapper {
    margin-top: 5rem;
}
.cl_inner .col-md-6 {
    margin-bottom: 4rem;
}
.class_bottom button.px-4 {
    padding: 0.25rem 3.075rem !important;
    margin-top: 1rem;
}