@media only screen and (max-width: 1200px){
	.about_wrapper .col-12 h2.text-dark {
	    margin-top: 2.9rem;
	    margin-bottom: 1.75rem;
	}
}
@media only screen and (max-width: 992px){
	.about_wrapper .img_col img {
	    width: 100%;
	    margin-top: 6rem;
	}
}
@media only screen and (max-width: 768px){
	.about_wrapper .col-12 h2.text-dark {
	    margin-top: 0;
	}
}
