/*top section*/
.top_section_wrapper {
    padding: 9rem 0;
    padding-bottom: 10rem;
}
/*listings*/
.ex_offer_wrapper .ex_offer {
  margin-top: 2rem;
}
.ex_offer_wrapper .btn_purple {
  margin-top: 3rem;
  padding: .375rem 3.75rem;
}