.header_bg nav{
	padding-left: 0;
	padding-right: 0;
}
.top_section_bg{
	background: url('../images/About/about-bg.png') no-repeat;
	padding-bottom: 5rem !important;
	background-size: 100% 100%;
}
.top_section_bg h2{
	margin-bottom: 0.5rem !important;
}
.top_section_bg p{
	width: 70%;
}
@media only screen and (max-width: 991.5px){
	.top_section_bg {
	    padding-bottom: 5rem;
	}
}
@media only screen and (max-width: 767.5px){
	.top_section_bg {
	    padding-bottom: 5rem;
	}
}
@media only screen and (max-width: 575.5px){
	.top_section_bg {
	    padding-bottom: 2rem !important;
	}
	.top_section_bg h2 {
	    margin-top: 2rem !important;
	}
	.top_section_bg p{
		width: 100%;
		line-height: 1.2;
	}
}