.choose_plan_wrapper .plan_wrap {
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.choose_plan_wrapper .plan_wrap .plan_top img {
  width: 8.7rem;
  margin-top: 2.5rem;
  margin-bottom: 0.7rem;
}
.choose_plan_wrapper .plan_wrap .plan_top ul {
  padding-left: 0;
  text-align: left;
  max-width: 11.4rem;
  margin: 0 auto;
  font-size: 0.95rem;
}
.choose_plan_wrapper .plan_wrap .plan_top ul li {
  list-style-type: none;
  background: url('../images/subscription/tick.png') no-repeat;
  background-size: 0.8rem;
  background-position: left center;
  padding-left: 1.7rem;
  margin-bottom: 6px;
}
.choose_plan_wrapper .plan_wrap .plan_bottom {
  margin-top: auto;
  padding-top: 1.7rem;
}
.choose_plan_wrapper .plan_wrap .plan_bottom p {
  font-size: 1.47rem;
  font-weight: 600;
}
.choose_plan_wrapper .plan_wrap .plan_bottom button {
  border: 1px solid #FF9E55;
  margin-bottom: 2.3rem;
  font-size: 0.95rem;
  padding: 0.475rem 2rem;
  margin-top: 3px;
  color: #FF9E55;
}
.choose_plan_wrapper .plan_wrap:hover {
  border: 2px solid #FF9E55;
}
.choose_plan_wrapper .plan_wrap .plan_bottom button:hover {
  background-color: #FF9E55;
  color: #fff;
}
@media only screen and (max-width: 991.5px){
  .choose_plan_wrapper .col-lg-4 {
      margin-bottom: 3rem;
  }
  .cp_inner {
      justify-content: center;
  }
}