/*typography*/
*{
	margin: 0px;
	padding: 0;
}
html {
  font-size: 10px;
}
.fix_container {
  width: 100rem;
  margin: 0 auto;
  display: block;
}
h2,h3,h4,h5,h6{
	font-family: sans-serif;
}
p{
	font-size: 1.3rem;
	font-family: sans-serif;
}
.full_container {
  width: 100%;
}
 /* media queries*/
 
@media only screen and (max-width: 999px){
  .fix_container{
    width: 73.8rem;
  }    
}

@media only screen and (min-width: 320px) and (max-width: 768px){
  .fix_container{
    width: 30.5rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px){ 
  .fix_container{
    width: 45.5rem;
  }
} 
/*end of typography*/

/*header*/
.header_wrapper a img {
  padding: 2rem 0 3.5rem 0;
}

/*top approval section*/
.approval_bg {
  background: url('../img/approval-bg.png') no-repeat;
  padding: 7rem 0 6rem 0;
}

.approval_bg h1 {
  font-size: 5rem;
  font-family: sans-serif;
  color: #ffffff;
}
.approval_bg .approved img {
  width: 44rem;
  margin-top: 7rem;
}
.approval_bg .approved {
  margin: 0 auto;
  display: block;
  width: 100%;
}
.approval_wrapper {
  text-align: center;
}

@media only screen and (max-width: 999px){
  .approval_bg h1 {
      font-size: 3rem;
  }
  .approval_bg .approved img {
      width: 34rem;
      margin-top: 6rem;
  }    
}

@media only screen and (min-width: 320px) and (max-width: 768px){
  .logo_wrapper img {
      width: 70%;
  }
  .footer_wrapper .footer_right p {
      width: 70%;
  }
  .header_wrapper {
      text-align: center;
  }
  .header_wrapper a img {
      width: 63%;
  }
  .approval_bg h1 {
      font-size: 2rem;
  }
  .approval_bg {
      padding: 5rem 0 3rem 0;
  }
  .approval_bg .approved img {
      width: 21rem;
      margin-top: 3rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px){ 
  
} 

/*SECOND SECTION (ADDRESSES)*/

.addresses_wrapper .title_row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebe8e8;
}
.addresses_bg {
  padding: 3rem 0 3rem 0;
}
.addresses_wrapper .title_row h3 {
  font-size: 1.7rem;
  color: #f0810f;
  margin-bottom: 1.2rem;
}
.addresses_wrapper .addresses {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}
.addresses_wrapper .addresses h3 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #063852;
}
.addresses_wrapper .addresses h6 {
  color: #063852;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1.5;
}
.addresses_wrapper .addresses p{
	color:  #063852;
}
.addresses_wrapper .addresses .address_right.address {
  display: flex;
}
.addresses_wrapper .addresses .address_right.address .info_wrapper {
  margin-right: 2.5rem;
}
.addresses_wrapper .addresses .address_right.address .photo img {
  width: 7rem;
}
.addresses_wrapper .addresses .address_right.address .photo .img_bottom {
  display: block;
}

@media only screen and (min-width: 320px) and (max-width: 768px){
  .addresses_wrapper .title_row h3 {
      font-size: 1.4rem;
      text-align: center;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 1rem;
      margin-left: 2rem;
  }
  .addresses_wrapper .addresses h3 {
      font-size: 1.5rem;
  }
  .addresses_wrapper .addresses .address_right.address .photo img {
      width: 4rem;
  }
  .addresses_wrapper .addresses .address_right.address .info_wrapper {
      margin-right: 0;
  }
  .addresses_wrapper .addresses{
    text-align: center;
  }

}

@media only screen and (min-width: 480px) and (max-width: 768px){ 
  
} 


/*proposal review approval section*/
section.three_points {
  background-color: #063852;
  padding: 2.5rem 0;
  border-bottom: 0.4px solid #fff;
}
section.three_points .proposal_wrapper, section.three_points .review_wrapper, section.three_points .bottom_appr_wrapper {
  background-color: #E6DF44;
  margin-bottom: 3rem;
  padding: 3rem 5rem;
  box-sizing: border-box;
  padding-right: 12rem;
}
section.three_points .bottom_appr_wrapper {
  margin-bottom: 0;
}
.three_points h2 {
  color: #0f4b6b;
  font-weight: 701;
  line-height: 1.8;
}
.three_points p {
  color: #0f4b6b;
}
section.three_points .proposal_wrapper {
  display: flex;
}
section.three_points .proposal_wrapper .proposal {
  margin-right: 4rem;
}
section.three_points .proposal_wrapper .pdf img {
  width: 5rem;
}
.review_wrapper .review_top button {
  display: block;
  width: 100%;
  text-align: left;
  border: 0;
  padding: 0.5rem;
  margin-bottom: 2.3rem;
}

.review_wrapper .review_top p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.review_wrapper .review_table table {
  font-size: 1.4rem;
  font-family: sans-serif;
  display: block;
}
.review_wrapper .review_table table tr th:last-child, .review_wrapper .review_table table tr td:last-child {
  text-align: right;
}
.review_wrapper .review_table table tr {
  display: flex;
  padding: 0 0.5rem;
}
.review_wrapper .review_table table tr th, .review_wrapper .review_table table tr td {
  text-align: left;
  width: 50%;
  color: #5f707a;
}
.review_wrapper .review_table table thead,.review_wrapper .review_table table tbody, .review_wrapper .review_table table tfoot {
  display: block;
  width: 100%;
}
.review_wrapper .review_table table tr th {
  margin-bottom: 1.2rem;
  color: #5f707a;
}
.review_wrapper .review_table table tfoot tr {
  background-color: #063852;
  margin-top: 0.2rem;
  padding-top: 0.3rem;
}
.review_wrapper .review_table table tr td {
  margin-bottom: 0.3rem;
  font-family: sans-serif;
  font-size: 1.3rem;
}
.review_wrapper .review_table table tfoot tr td {
  color: #fff;
}
section.three_points .bottom_appr_wrapper h2 {
  margin-bottom: 0.5rem;
}
section.three_points .bottom_appr_wrapper p {
  line-height: 1.4;
}


@media only screen and (min-width: 320px) and (max-width: 768px){
  section.three_points .proposal_wrapper, section.three_points .review_wrapper, section.three_points .bottom_appr_wrapper {
      margin-bottom: 3rem;
      padding: 2rem 2rem;
      padding-right: 2rem;
  }

}




/*FOOTER*/
.footer_bg {
  background-color: #011A27;
  color: #fcf6f6;
  padding: 1.5rem;
}
.footer_wrapper .footer_left p {
  font-size: 0.9rem;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
}
.footer_wrapper .footer_left {
  align-self: center;
}
.footer_wrapper .footer_right p {
  text-align: center;
}

@media only screen and (min-width: 480px) and (max-width: 768px){ 
  .footer_wrapper .footer_left p {
      font-size: 0.9rem;
      padding: 0 1rem;
  }
}


